Source: ros-indigo-care-o-bot-robot
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-care-o-bot-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, htop, openssh-server, python-wstool, ros-indigo-cob-bringup, ros-indigo-cob-manipulation, ros-indigo-cob-navigation, ros-indigo-robot-upstart, tmux, tree, vim
Description: The care-o-bot-robot meta-package
